################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ProcessoDigital.slnx/FileContentIndex/8d416d86-d595-40f0-b9c9-eac6be518f59.vsidx
